:root {
  /* CORES CINZA */
  --preto: #000000;
  --branco: #ffffff;
  --cor-c11: #121212;
  --cor-c10: #2e2e2e;
  --cor-c9: #404040;
  --cor-c8: #595959;
  --cor-c7: #707070;
  --cor-c6: #9c9c9c;
  --cor-c5: #b3b3b3;
  --cor-c4: #cccccc;
  --cor-c3: #dedede;
  --cor-c2: #ededed;
  --cor-c1: #f7f7f7;
  /* CORES azul */
  --cor-a18: #010710;
  --cor-a17: #020e20;
  --cor-a16: #031530;
  --cor-a15: #051c40;
  --cor-a16: #062350;
  --cor-a15: #072a60;
  --cor-a14: #093170;
  --cor-a13: #0a3880;
  --cor-a12: #0b3f90;
  --cor-a11: #0d47a1;
  --cor-a10: #2559aa;
  --cor-azul: #3d6bb3;
  --cor-a9: #3d6bb3;
  --cor-a8: #557ebd;
  --cor-a7: #9eb5d9;
  --cor-a6: #6d90c6;
  --cor-a5: #86a3d0;
  --cor-a4: #3d6bb3;
  --cor-a3: #b6c7e2;
  --cor-a2: #cedaec;
  --cor-a1: #e6ecf5;
}
/* CORES CINZA */
.preto {
  color: #000000;
}
.c11 {
  color: #121212;
}
.c10 {
  color: #2e2e2e;
}
.c9 {
  color: #404040;
}
.c8 {
  color: #595959;
}
.c7 {
  color: #707070;
}
.c6 {
  color: #9c9c9c;
}
.c5 {
  color: #b3b3b3;
}
.c4 {
  color: #cccccc;
}
.c3 {
  color: #dedede;
}
.c2 {
  color: #ededed;
}
.c1 {
  color: #f7f7f7;
}
.branco {
  color: #ffffff;
}

/* COR azul */
.a18 {
  color: #010710;
}
.a17 {
  color: #020e20;
}
.a16 {
  color: #031530;
}
.a15 {
  color: #051c40;
}
.a14 {
  color: #062350;
}
.a13 {
  color: #072a60;
}
.a12 {
  color: #093170;
}
.a11 {
  color: #0a3880;
}
.a10 {
  color: #0b3f90;
}
.azul {
  color: #0d47a1;
}
.a9 {
  color: #2559aa;
}
.a8 {
  color: #3d6bb3;
}
.a7 {
  color: #557ebd;
}
.a6 {
  color: #6d90c6;
}
.a5 {
  color: #86a3d0;
}
.a4 {
  color: #9eb5d9;
}
.a3 {
  color: #b6c7e2;
}
.a2 {
  color: #cedaec;
}
.a1 {
  color: #e6ecf5;
}

/* MSG ERROR */
.false {
  background: #ff0200;
}

.true {
  background: #45b954;
}
