#experienvias-page .subtitulo {
  font-size: 6rem;
  max-width: 100%;
  display: block;
}

#experienvias-page .experiencia-page-texto {
  max-width: 80ch;
  line-height: 1.5;
  font-size: 1.2rem;
  /* color: #f5f5f5; */
  line-height: 1.4;
}
#experienvias-page .experiencia-page-texto strong {
  color: #efc418;
}

#experienvias-page .container {
  grid-template-columns: 1fr;
  gap: 60px;
  padding: 0 20px;
}

#experienvias-page .experiencia-info {
  display: grid;
  gap: 20px;
}

#experienvias-page .empresa-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 20px;
}

#experienvias-page .empresa-ano {
  /* color: #f5f5f5; */
  font-size: 0.875rem;
}

#experienvias-page .empresa-ano {
  position: initial;
  order: 1;
  width: initial;
  text-align: left;
}
#experienvias-page .empresa-ano::before {
  content: "Data de criação: ";
}

@media (max-width: 900px) {
  #experienvias-page .empresa-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 20px;
  }
  #experienvias-page .container {
    gap: 40px;
  }

  #experienvias-page .subtitulo {
    font-size: 2.2rem;
    margin-top: 20px;
  }
  #experienvias-page .experiencia-page-texto {
    max-width: 80ch;
    font-size: 1rem;
  }
}
