.footer {
  background-color: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 60px 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  z-index: 1;
  position: relative;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #e0e0e0;
  display: block;
  margin-bottom: 20px;
}

.footer-contato li {
  /* display: flex; */
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #fff;
}

.footer-contato li a {
  display: inline-block;
  margin-right: 20px;
}

.footer-copy {
  font-size: 1.125rem;
  color: #a3a3a3;
  grid-column: 1/-1;
}

.footer-form input,
.footer-form textarea {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  padding: 8px 0px 8px 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: none;
  background: #a3a3a3;
  resize: none;
  color: white;
  font-size: 1rem;
}

.footer-form label {
  display: block;
  margin-bottom: 8px;
  color: #e0e0e0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: #d95098;
  color: white;
  margin-bottom: 20px;
}

.btn:hover {
  background: #efc418;
}
@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 700px;
  }
  .footer-contato {
    margin: 0 auto;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
  .footer-texto {
    text-align: center;
  }
}
